<a href="https://colab.research.google.com/github/atulragarwal/Appointy-Submission/blob/main/19BCE0436_Multilinear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dataFrame = pd.read_csv("19BCE0436_Multilinear_Regression.csv")
dataFrame.head()

     Y  X1  X2
0  140  60  22
1  155  62  25
2  159  67  24
3  179  70  20
4  192  71  15

In [ ]:
y = dataFrame['Y']
x1 = dataFrame['X1']
x2 = dataFrame['X2']
y = np.array(y)
x1 = np.array(x1)
x2 = np.array(x2)

In [ ]:
x1Square = [x*x for x in x1]
x2Square = [x*x for x in x2]
sumX1Square = sum(x1Square)
sumX2Square = sum(x2Square)

In [ ]:
prodX1X2 = []
prodX1Y = []
prodX2Y = []
for i in range(len(x1)):
  prodX1X2.append(x1[i] * x2[i])
  prodX1Y.append(x1[i] * y[i])
  prodX2Y.append(x2[i] * y[i])
X1X2Square = [x*x for x in prodX1X2]

In [ ]:
sumX1Y = sum(prodX1Y)
sumX2Y = sum(prodX2Y)
sumX1X2 = sum(prodX1X2)
print(sumX1Y,"\n",sumX2Y,"\n",sumX1X2)

101895
 25364
 9859

In [ ]:
coefficientB1 = ((sumX2Square*sumX1Y) - (sumX1X2*sumX2Y))/((sumX1Square*sumX2Square) - (sumX1X2*sumX1X2))
num1 = ((sumX2Square*sumX1Y) - (sumX1X2*sumX2Y))
num2 = ((sumX1Square*sumX2Y) - (sumX1X2*sumX1Y))
den = ((sumX1Square*sumX2Square) - (sumX1X2*sumX1X2))
coefficientB2 = ((sumX1Square*sumX2Y) - (sumX1X2*sumX1Y))/((sumX1Square*sumX2Square) - (sumX1X2*sumX1X2))

In [ ]:
coefficientB1

3.070904769530433

In [ ]:
coefficientB2

-1.7400106704925749

In [ ]:
print(num1,"\n",num2,"\n",den)

37585909
 -21296617
 12239360